* {
    padding: 0;
    margin: 0;
    font-family: Arial, sans-serif;
}

html {
    overflow-x: hidden;
    width: 100vw;
    height: 100vh;
}

header {
    margin: 5%;
    text-align: center;
}

main {
    margin: 0 5%;
}

footer {
    margin-top: 5%;
    padding: 5%;
    background-color: rgb(000, 000, 000);
    text-align: center;
    color: white;
}

/* --- Calculatrice --- */
#calculatrice {
    margin: auto;
    border: solid 2px rgb(000, 000, 000);
    border-radius: 10px;
    padding: 4%;
    width: 500px;
}

#screen {
    margin-bottom: 5%;
    padding: 10px;
    border: solid black;
    text-align: right;
    box-shadow: inset 6px -2px teal;
}

#keyboard {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.row {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 5px 0;
}

.row button {
    width: 100px;
    padding: 10px;
    border: solid 2px black;
    border-radius: 10px;
    box-shadow: 6px -2px teal;
}




































/* .row {
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-template-rows: repeat(5, auto);
    border: solid 1px;
    grid-gap: 10px;
}

#row0 {
    grid-column: 1 / 4;
    grid-row: 1;
}

#row1 {
    grid-column: 1 / 4;
    grid-row: 2;
}

#row2 {
    grid-column: 1 / 4;
    grid-row: 3;
}

#row3 {
    grid-column: 1 / 4;
    grid-row: 4;
}

#row4 {
    grid-column: 1 / 4;
    grid-row: 5;
} */